footer
  .container
    .footer__body
      .footer__column
        .footer__copy Business 2017
      .footer__column
        a.footer__link(href='') Terms &amp; Conditions
        a.footer__link(href='') Privacy Policy