header
  .container
    .header__body
      .header__column
        a.header__logo(href='')
          img(src='../assets/img/logo.svg' alt='')
      .header__column.menu-header
        .menu-header__icon
          span
          span
          span
        nav.menu-header__menu
          ul.menu-header__list
            li
              a.menu-header__link(href='')
                span Investors
            li
              a.menu-header__link(href='')
                span About Us
            li
              a.menu-header__link(href='')
                span Our Services
            li
              a.menu-header__link(href='')
                span News &amp; Media
            li
              a.menu-header__link(href='')
                span Career
            li
              a.menu-header__link.menu-header__link--circle(href='')
                span Our Locations
