include ../utils/mixins
block variables
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    meta(name="description", content=description)
    block head

  body
    .wrapper
      include ../includes/modules/header
       //- block content
      .mainblock
        .container
          .mainblock__imageblock.imageblock
            .imageblock__title Building a high growth, high quality debt management services company
            .imageblock__bg.ibg.bluebg
              img(src='../assets/img/mainblock/bg_main.jpg' alt='')
          .mainblock__bottomblock.bottomblock
            .bottomblock__text
              | We&rsquo;re a group of companies within the credit management services industry. We are primarily focusing on large and high growth NPL markets, and have operations in Spain, Italy, Germany, Norway and Sweden. We have an ambitious Pan-European growth strategy and are continuously exploring new markets in Europe.
            a.bottomblock__btn.btn(href='')
              span Annual General Meeting 2017
      .investor
        .container
          .investor__title.title Investor Relations
          .investor__text We&rsquo;re Investor Relations team is striving to serve all shareholders and potential investors by providing consistent, open and timely disclosure of relevant information.
          .investor__stat.stat-investor
            .stat-investor__column
              .stat-investor__item.item-stat
                .item-stat__value 77.95
                .item-stat__text Share Price (NOK)
            .stat-investor__column
              .stat-investor__item.item-stat
                .item-stat__value 2.26
                .item-stat__text Share Price (NOK)
            .stat-investor__column
              .stat-investor__item.item-stat
                .item-stat__value 9,587,985
                .item-stat__text Volume (thousands)
            .stat-investor__column
              .stat-investor__item.item-stat
                .item-stat__value AXA
                .item-stat__text Share Price (NOK)
            .stat-investor__column
              .stat-investor__item.item-stat
                .item-stat__value 4.15%
                .item-stat__text Share Price (NOK)
          a.investor__btn.btn(href='')
            span Read More
      .newsmedia.tabs
        .container
          .newsmedia__header.header-newsmedia
            .header-newsmedia__title.title News &amp; Media
            .header-newsmedia__nav.nav-newsmedia
              .nav-newsmedia__item.tab__navitem.active News
              .nav-newsmedia__item.tab__navitem Press Release
              .nav-newsmedia__item.tab__navitem All
          .newsmedia__body
            .newsmedia__item.tab__item.active
              .item-newsmedia
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') Press Release
                        a.content-newsmediavalues__title(href='') increases existing loan facilities
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/01.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') News
                        a.content-newsmediavalues__title(href='') acquires another primary portfolio in spain
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/02.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company. On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') Press Release
                        a.content-newsmediavalues__title(href='') increases existing loan facilities
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/03.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
            .newsmedia__item.tab__item
              .item-newsmedia
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') News
                        a.content-newsmediavalues__title(href='') acquires another primary portfolio in spain
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/02.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company. On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') Press Release
                        a.content-newsmediavalues__title(href='') increases existing loan facilities
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/01.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') Press Release
                        a.content-newsmediavalues__title(href='') increases existing loan facilities
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/03.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
            .newsmedia__item.tab__item
              .item-newsmedia
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') Press Release
                        a.content-newsmediavalues__title(href='') increases existing loan facilities
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/01.jpg' alt='')
                    .content-newsmedia__text
                      | On May 5,  2017 the 4th tranche under the Recurring Credit Facility which has with DNB Bank ASA and Nordea Bank AS was made available to the company.
                    a.content-newsmedia__more(href='') Read More
                .item-newsmedia__column
                  .item-newsmedia__content.content-newsmedia
                    .content-newsmedia__header.header-contentnewsmedia
                      .header-contentnewsmedia__content.content-newsmediavalues
                        a.content-newsmediavalues__category(href='') News
                        a.content-newsmediavalues__title(href='') acquires another primary portfolio in spain
                      .header-contentnewsmedia__image.bluebg.ibg
                        img(src='../assets/img/newsmedia/02.jpg' alt='')
        //- include ../includes/modules/foote
        //- block script
